[submodule "lib/openpixelcontrol"]
	path = lib/openpixelcontrol
	url = https://github.com/zestyping/openpixelcontrol.git
[submodule "lib/fadecandy"]
	path = lib/fadecandy
	url = https://github.com/scanlime/fadecandy.git
[submodule "lib/pyaudio"]
	path = lib/pyaudio
	url = http://people.csail.mit.edu/hubert/git/pyaudio.git
